@media all and (max-device-width:536px){
	body{
		background:#fff;
	}
	.header{
		width:177px;
		margin:140px auto 90px;
	}
	.content{
		margin:0 auto;
		width:100%;
		text-align:center;
	}
	.content h1{
		font-size:38px;
		line-height:70px;
	}
	.content .situation-img{
		margin:0;
		margin:0 auto;
		float:none;
	}
	.content span.situation-sentence{
		line-height: 30px;
	}
	.content #situation-Two .situation-img{
		margin:0;
		margin:0 auto;
	}
	.content .situation-info{
		width: 85%;
		margin: 0 auto;
	}
	.tips-info{
		color: #a7a9ac;
	}
	.footer .footer-img{
		display: block;
		margin:0 auto;
	}
	.footer .footer-txt{
		width: 400px;
		font-size: 18px;
		text-align: center;
		line-height: 20px;
		margin-top: 20px;
	}
}