#children-list .editor-buttons-container {
    display: none;
}
#children-list #editor-button {
    margin-right: -6px;
    display: block;
}
#children-list .editing .show-add {
    display: none;
}
#children-list .adding .show-edit {
    display: none;
}
#children-list .adding .show-add.temporary-hide, #children-list .adding .show-edit.temporary-hide, #children-list .adding .temporary-hide {
    display: none;
}
#children-list #children-grid .grid-header {
    height: 60px;
}
#children-list #children-grid .grid-content-td {
    height: 72px;
}
.insights-icon span.icon, .internet-pause-icon span.icon {
    display: inline-block;
    background: url("../img/parentControlIcons.1657161073674.png") 0 0;
    width: 28px;
    height: 28px;
    cursor: pointer;
}
.insights-icon span.icon:hover {
    background-position: -256px -1px;
}
.grid-content-td-internet_blocked .content {
    position: relative;
    width: 100%;
}
.internet-pause-icon {
    display: inline-block;
}
.internet-pause-icon span.icon {
    background-position: -56px 0px;
}
.internet-pause-icon span.icon:hover {
    opacity: 0.7;
}
.internet-pause-icon.pause span.icon {
    background-position: -28px 0px;
}
.internet-pause-icon.pause span.icon:hover {
    opacity: 0.7;
}
.internet-pause-icon .text {
    color: #cccccc;
    position: absolute;
    top: 28px;
    left: 0;
    right: 0;
    white-space: nowrap;
    display: none;
}
.internet-pause-icon.pause .text {
    display: block;
}
div.grid-container div.grid-content-container tr.grid-content-tr.disabled .insights-icon span.icon {
    background: url("../img/parentControlIcons.1657161073674.png") 0px -28px;
}
div.grid-container div.grid-content-container tr.grid-content-tr.disabled .internet-pause-icon span.icon {
    background-position: -56px -28px;
}
div.grid-container div.grid-content-container tr.grid-content-tr.disabled .internet-pause-icon.pause span.icon {
    background-position: -28px -28px;
}
div.grid-container div.grid-content-container tr.grid-content-tr.disabled .button-container span {
    cursor: default;
}
#insights-container > td {
    border-top: 1px solid #cccccc;
}
#insights-content {
    text-align: left;
    margin: 36px auto 48px;
    min-height: 300px;
}
#insights-content #history-select {
    margin-left: 288px;
    margin-bottom: 24px;
}
#insights-content #history-select #history-detail {
    width: 28px;
    height: 28px;
    background: url("../img/parentControlIcons.1657161073674.png") -69px -312px;
    float: right;
    cursor: pointer;
    margin-right: 23px;
}
#insights-content #history-select #history-detail:hover {
    background-position: -227px -56px;
}
#insights-content #collection-empty-container {
    padding-top: 64px;
}
#insights-content #collection-empty-container div.icon {
    margin: auto;
    margin-bottom: 36px;
    width: 52px;
    height: 48px;
    background: url("../img/no-record.1657161073674.png") no-repeat;
}
#insights-content #collection-empty-container div.text {
    font-size: 15px;
    text-align: center;
}
#insights-content #canvas-container {
    vertical-align: top;
    display: inline-block;
    width: 288px;
    text-align: center;
    position: relative;
}
#insights-content #canvas-container #canvas-title,
#insights-content #history-collection-container #collection-title {
    height: 30px;
    line-height: 30px;
    font-size: 15px;
    color:#005564;
}
#insights-content #canvas-container #total {
    position: absolute;
    width: 100%;
    top: 122px;
}
#insights-content #canvas-container #total span {
    font-size: 20px;
}
#insights-content #canvas-container canvas{
    margin-top: 32px;
}
#insights-content #history-collection-container {
    display: inline-block;
    vertical-align: top;
    width: 361px;
}
#insights-content #history-collection-container td.url {
    width: 55%;
    text-align: left;
    padding-right: 26px;
    white-space: nowrap;
}
#insights-content #history-collection-container td.time {
    width: 30%;
    text-align: left;
    color: #B3B3B3;
}
#insights-content #history-collection-container td.block {
    width: 15%;
}
#insights-content tr {
    height: 20px;
    line-height: 20px;
}
#insights-content td {
    border: none;
}
#insights-content span.website {
    color: #36444B;
    font-size: 14px;
    display: inline-block;
    width: 150px;
    text-overflow: ellipsis;
    overflow: hidden;
}
span.block-icon {
    cursor: pointer;
    display: inline-block;
    position: relative;
    width: 28px;
    height: 28px;
    background: url("../img/parentControlIcons.1657161073674.png") -93px -312px;
}
span.block-icon:hover {
    background-position: -255px -28px;
}
span.block-icon.blocked {
    background: url("../img/parentControlIcons.1657161073674.png") -127px -312px;
}
span.block-icon.blocked:hover {
    background-position: -258px -312px;
}
span.block-icon .icon-hint {
    position: absolute;
    display: none;
    right: 28px;
    top: 0px;
    line-height: 26px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    color: #b3b3b3;
    background-color: #FFFFFF;
    padding: 0 5px;
    z-index: 100;
    white-space: nowrap;
}
span.block-icon:hover .icon-hint {
    display: inline;
}
#editor-container #tab-container {
    width: 452px;
    margin: 20px auto 42px;
    border: 1px solid #4acbd6;
    min-height: 24px;
    line-height: 24px;
}
#editor-container #tab-container span {
    display: table-cell;
    width: 150px;
    text-align: center;
    border-left: 1px solid #4acbd6;
    cursor: pointer;
}
#editor-container #tab-container span:hover, #editor-container #tab-container span.switched {
    background-color: #4acbd6;
    color: #FFFFFF;
}
#editor-container #tab-container span:first-child {
    border-left: none;
}
#editor-container #tab-container:after {
    content:' ';
    display: block;
    clear: both;
}
#editor-container #flow-process-container {
    width: 400px;
    margin: 20px auto 40px;
}
#editor-container #flow-process-container:after {
    display: block;
    content:' ';
    clear: both;
}
#editor-container #childname-container,
#add-filter-container {
    margin: 14px 0;
    text-align: left;
}
#editor-container #childname-container .input-container-label,
#add-filter-container .input-container-label {
    vertical-align: top;
    padding-top: 7px;
    display: inline-block;
    margin-right: 15px;
}
.flow-process-wrap span {
    float: left;
}
.flow-process-wrap span.step {
    width: 22px;
    height: 22px;
    background: url("../img/parentControlIcons.1657161073674.png") -130px -344px;
    position: relative;
}
.flow-process-wrap span.step.current {
    background: url("../img/parentControlIcons.1657161073674.png") -102px -344px;
}
.flow-process-wrap span.step.past {
    background: url("../img/parentControlIcons.1657161073674.png") -74px -344px;
}
.flow-process-wrap span.step.current span.text, .flow-process-wrap span.step.past span.text {
    color: #4acbd6;
}
/*.flow-process-wrap span.step.current span.text {
    top: 27px;
}*/
/*.flow-process-wrap span.step.current span.text.up {
    top: -17px;
}*/
.flow-process-wrap span.step span.text {
    position: absolute;
    top: 22px;
    width: 150px;
    left: -64px;
    text-align: center;
    color: #cccccc;
}
.flow-process-wrap span.step span.text.up {
    top: -22px;
}
.flow-process-wrap span.flow-bar {
    width: 165px;
    height: 2px;
    margin: 10px -5px;
    background: #cccccc;
}
.flow-process-wrap span.flow-bar.past {
    background: #4acbd6;
}
#device-container .devices-list-wrap {
    display: inline-block;
    vertical-align: top;
}
#device-container .devices-list-wrap .devices {
    text-align: center;
    display: inline-block;
    margin: 10px 21px;
    width: 67px;
    word-break: break-all;
    vertical-align: top;
}
#device-container .devices-list-wrap .devices div.icon-wrap {
    position: relative;
    border: 1px solid transparent;
    background: url("../img/parentControlIcons.1657161073674.png") -5px -249px;
}
#device-container .devices-list-wrap .devices div.icon-wrap span.icon {
    display: block;
    width: 48px;
    height: 48px;
    margin: 8px;
    background: url("../img/qos.1657161073674.png") -200px -370px;
}
#device-container .devices-list-wrap .devices div.icon-wrap span.icon.pc {
    background-position: 0px -270px;
}
#device-container .devices-list-wrap .devices div.icon-wrap span.icon.phone {
    background-position: -100px -270px;
}
#device-container .devices-list-wrap .devices div.icon-wrap span.icon.entertainment {
    background-position: -150px -320px;
}
#device-container .devices-list-wrap .devices div.icon-wrap span.icon.iot_device {
    background-position: -100px -370px;
}
#device-container .devices-list-wrap .devices div.icon-wrap span.icon.printer {
    background-position: 0px -370px;
}
#device-container .devices-list-wrap .devices div.icon-wrap span.icon.tablet {
    background-position: -50px -320px;
}
#device-container .devices-list-wrap .devices div.icon-wrap span.icon.laptop {
    background-position: -200px -270px;
}
#device-container .devices-list-wrap .devices div.icon-wrap span.icon.other {
    background-position: -200px -370px;
}
#device-container .devices-list-wrap .devices div.icon-wrap span.close-icon {
    position: absolute;
    width: 28px;
    height: 28px;
    top: -10px;
    right: -10px;
    background: url("../img/parentControlIcons.1657161073674.png") -198px 0px;
}
#device-container .devices-list-wrap .devices div.icon-wrap span.close-icon:hover {
    cursor: pointer;
}
#device-container .devices-list-wrap .devices div.text {
    margin-top: 16px;
}
#device-container .add-button {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    margin: 10px 20px;
}
#device-container .add-button span.icon {
    display: block;
    width: 65px;
    height: 65px;
    margin: auto;
    background: url("../img/parentControlIcons.1657161073674.png") -5px -317px;
}
#device-container .add-button span.icon:hover {
    background-position: -175px -249px;
}
#device-container .add-button span.text {
    display: block;
    margin-top: 16px;
}
#children-grid #filter {
    width: auto;
}
#filter-level {
    text-align: center;
    white-space: nowrap;
}
#filter-level > div {
    display: inline-block;
    width: 70px;
    margin: 0 15px;
}
#filter-level > div .button-click {
    cursor: pointer;
    height: 70px;
    margin-bottom: 16px;
    background: url("../img/parentControlIcons.1657161073674.png") 0px -98px;
}
#filter-level > div .button-click:hover, #filter-level > div .button-click.clicked {
    background-position: 0px -176px;
}
#filter-level > div#pre_teen .button-click {
    background-position: -73px -98px;
}
#filter-level > div#pre_teen .button-click:hover, #filter-level > div#pre_teen .button-click.clicked {
    background-position: -73px -176px;
}
#filter-level > div#teen .button-click {
    background-position: -145px -98px;
}
#filter-level > div#teen .button-click:hover, #filter-level > div#teen .button-click.clicked {
    background-position: -145px -176px;
}
#filter-level > div#adult .button-click {
    background-position: -217px -98px;
}
#filter-level > div#adult .button-click:hover, #filter-level > div#adult .button-click.clicked {
    background-position: -217px -176px;
}
#filter-level > div .text {
    display: inline-block;
}
#filter-level > div:after {
    content:' ';
    display: block;
    clear: both;
}
#filter-content-container {
    padding: 15px 0;
    border: 1px solid #cccccc;
    border-radius: 5px;
    margin: 20px 0;
}
#filter-content-container:after {
    content:' ';
    display: block;
    clear: both;
}
/*#filter-content-container #selected-content, #filter-content-container #available-content {
    float: left;
}*/
#filter-content-container #filter-title, #filter-content-container #available-title {
    display: inline-block;
    /*line-height: 30px;*/
    font-size: 16px;
    position: relative;
    margin-bottom: 24px;
}
#filter-content-container #filter-title div.filter-tips,
div.label-tips{
    margin-top: 8px;
    font-size: 12px;
    color: #a7a9ac;
}
#filter-content-container #filter-title span.add-tab, #filter-content-container #available-title span.add-tab {
    cursor: pointer;
    position: absolute;
    left: 254px;
    top: 2px;
    width: 28px;
    height: 28px;
    background: url("../img/parentControlIcons.1657161073674.png") -85px -28px;
}
#filter-content-container #filter-title span.add-tab:hover, #filter-content-container #available-title span.add-tab:hover {
    background: url("../img/parentControlIcons.1657161073674.png") -85px 0px;
}
label.filter-tab {
    width: 260px;
    padding-right: 20px;
    display: block;
    line-height: 28px;
}
label.filter-tab.selected {
    display: none;
}
label.filter-tab span {
    vertical-align: middle;
}
label.filter-tab span.text {
    display: inline-block;
    width: 230px;
}
/*label.filter-tab:hover span.text {
    cursor: pointer;
    color: #4acbd6;
}*/
label.filter-tab span.status-icon {
    text-align: center;
    line-height: 28px;
    display: inline-block;
    width: 28px;
    height: 28px;
    cursor: pointer;
}
label.filter-tab div.filter-tips {
    display: none;
    width: 230px;
    line-height: 1.2;
    margin-top: 6px;
    margin-bottom: 20px;
    color: #a7a9ac;
}
label.filter-tab.show-tips div.filter-tips {
    display: block;
}
#filter-selected {
    border-right: 1px solid #cccccc;
    margin-right: -1px;
    width: 280px;
}
#filter-all {
    border-left: 1px solid #cccccc;
    width: 280px;
}
#filter-all label.filter-tab span.status-icon {
    background: url("../img/parentControlIcons.1657161073674.png") -85px -28px;
}
#filter-all label.filter-tab span.status-icon:hover {
    background: url("../img/parentControlIcons.1657161073674.png") -85px 0px;
}
#filter-all label.filter-tab.selected span.status-icon {
    background: url("../img/parentControlIcons.1657161073674.png") -198px -28px;
    cursor: default;
}
#filter-selected label.filter-tab span.status-icon {
    background: url("../img/parentControlIcons.1657161073674.png") -113px -28px;
}
#filter-selected label.filter-tab span.status-icon:hover {
    background-position: -113px 0;
}
#filter-selected label.filter-tab.pre-filter span.status-icon {
    display: none;
}
#filter-title, #available-title, #filter-all, #filter-selected,#add-filter-container {
    padding-left: 24px;
}
.timebar-container {
    display: inline-block;
    vertical-align: middle;
    margin-left: 30px;
    margin-top: 3px;
}
.timebar-container.disabled {
    visibility: hidden;
}
.timebar-container.disabled .time-bar-container div.timebar div.slider div.text {
    color: #a7a9ac;
}
.timebar-container.disabled .time-bar-container div.timebar div.slider div.icon {
    background-position: -145px -28px;
}
.time-bar-container {
    width: 336px;
    margin: 0 25px;
}
.time-bar-container div.timebar {
    height: 30px;
}
.time-bar-container div.timebar div.slider {
    top: -10px;
    left: 0;
    width: 21px;
    text-align: center;
}
.time-bar-container div.timebar div.slider div {
    line-height: 20px;
}
.time-bar-container div.timebar div.slider div.text {
    position: absolute;
    width: 300px;
    top: 7px;
    left: -140px;
    text-align: center;
    color: #4acbd6;
}
.time-bar-container div.timebar div.slider div.icon {
    position: relative;
    top: 20px;
    width: 21px;
    height: 21px;
    margin: auto;
    background: url("../img/parentControlIcons.1657161073674.png") -145px 0;
    cursor: pointer;
}
.time-bar-container div.mark {
    margin-top: 8px;
}
.time-bar-container div.scale {
    border-top: 2px solid #a7a9ac;
    margin: 0 9px;
}
.time-bar-container div.scale span.scale-unit {
    display: inline-block;
    height: 4px;
    border-right: 3px solid #a7a9ac;
    margin-left: 18px;
}
.time-bar-container div.scale span.scale-unit:first-child {
    margin-left: 0;
}
#pover-container {
    position: fixed;
    z-index: 998;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
#pover-container div.mask {
    display: block;
}
#pover-container .pover-title {
    font-size: 18px;
    margin: 0 35px 12px;
}
#pover-container #history-content .blank-top {
    height: 24px;
}
#pover-container #history-content .blank-bottom {
    height: 36px;
}
#pover-container #history-content .time {
    color: #a7a9ac;
    font-size: 12px;
    width: 80px;
}
#pover-container #history-content td {
    color: #36444b;
    font-size: 14px;
}
#pover-container #pover-area, #pover-container #pover-add-keyword {
    z-index: 1000;
    border-radius: 5px;
    box-shadow: 1px 1px 8px #898989;
}
#pover-container #pover-area {
    width: 710px;
    margin: 150px auto 0;
    padding: 35px 10px 20px 10px;
    background-color: #FFFFFF;
    position: relative;
}
#pover-container #pover-add-keyword {
    width: 320px;
    height: 170px;
    margin: 350px auto 0;
    padding: 46px 45px 24px 45px;
    background-color: #FFFFFF;
    position: relative;
    text-align: center;
}
#pover-container #pover-add-keyword h1 {
    font-size: 18px;
    margin: 5px 0 24px 0;
}
#pover-container #pover-add-keyword #custom-filter {
    width: 250px;
}
#pover-container #pover-add-keyword #keyword-hint-container {
    color: #36444B;
}
#pover-container .close-icon {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 28px;
    height: 28px;
    background: url("../img/parentControlIcons.1657161073674.png") -226px -28px;
}
#pover-container .close-icon:hover {
    background-position: -226px 0px;
}
#pover-container #history-table-container {
    max-height: 400px;
    padding: 0 35px;
    overflow-y: auto;
}
#pover-container #empty-history-container {
    height: 250px;
    padding-top: 132px;
    margin: 0 35px 0;
    border-top: 1px solid #cccccc;
}
#pover-container #empty-history-container div.empty-icon {
    margin: auto;
    margin-bottom: 30px;
    width: 52px;
    height: 48px;
    background: url("../img/no-record.1657161073674.png") no-repeat;
}
#pover-container #empty-history-container div.empty-text {
    font-size: 15px;
    color: #36444B;
    text-align: center;
}
#pover-container #history-table {
    width: 100%;
}
#pover-container #history-table td {
    text-align: left;
}
#pover-container #history-table td.title {
    border-bottom: 1px solid #cccccc;
    font-size: 14px;
    padding-bottom: 10px;
}
#pover-container #history-table td.title:hover {
    color: #36444B;
}
#pover-container #history-table td .split-icon {
    display: inline-block;
    width: 14px;
    height: 28px;
    background: url("../img/parentControlIcons.1657161073674.png") -173px -341px;
}
#pover-container #history-table td .split-icon.first-history {
    background-position: -156px -341px;
}
#pover-container #history-table td .split-icon.last-history {
    background-position: -190px -341px;
}
#pover-container #history-table td .split-icon.only-one {
    background-position: -207px -341px;
}
#pover-container #history-table tr.blank-top td {
    height: 20px;
}
#pover-container #history-table tr.blank-bottom td {
    height: 30px;
}
#pover-container #history-table tr:hover, #pover-container #history-table tr:hover td {
    color: #4acbd6;
}
#pover-container #device-list-content .info {
    margin: 0 35px 15px;
}
#pover-container .device-table-container {
    padding: 0 35px;
    overflow-y: auto;
    min-height: 450px;
}
#pover-container #device-table span.name, #pover-container #device-table span.ownerInfo span.text {
    overflow: hidden;
    display: inline-block;
    max-width: 122px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#pover-container #device-table span.ownerInfo span.text {
    color: #4acbd6;
    max-width: 62px;
}
#pover-container #devices-table-page-divider, #pover-container .button-container {
    padding: 0 35px;
}
#pover-container .button-container {
    margin-top: 30px;
}
#pover-container #device-table {
    width: 100%;
    border-bottom: 1px solid #cccccc;
}
#pover-container #device-table th, #pover-container #device-table td {
    border-top: 1px solid #cccccc;
    padding: 15px 0;
}
#pover-container #device-table td span.dev-icon {
    display: inline-block;
    width: 48px;
    height: 48px;
    background: url("../img/qos.1657161073674.png") -200px -370px;
}
#pover-container #device-table td span.dev-icon.pc {
    background-position: 0px -270px;
}
#pover-container #device-table td span.dev-icon.phone {
    background-position: -100px -270px;
}
#pover-container #device-table td span.dev-icon.entertainment {
    background-position: -150px -320px;
}
#pover-container #device-table td span.dev-icon.iot_device {
    background-position: -100px -370px;
}
#pover-container #device-table td span.dev-icon.printer {
    background-position: 0px -370px;
}
#pover-container #device-table td span.dev-icon.tablet {
    background-position: -50px -320px;
}
#pover-container #device-table td span.dev-icon.laptop {
    background-position: -200px -270px;
}
#pover-container #device-table td span.dev-icon.other {
    background-position: -200px -370px;
}
#pover-container #device-table td span.ownerInfo {
    display: inline-block;
    position: relative;
    max-width: 70px;
    margin-left: 10px;
    padding: 0 0 0 8px;
    height: 18px;
    line-height: 18px;
    background: url("../img/parentControlIcons.1657161073674.png") -85px -255px;
}
#pover-container #device-table td span.ownerInfo:after {
    position: absolute;
    content:'';
    width: 8px;
    height: 18px;
    background: url("../img/parentControlIcons.1657161073674.png") -163px -255px;
    top: 0;
    right: -8px;
}
.time-setting-container {
    display: inline-block;
    border: 1px solid #e6e6e6;
    padding: 1px 8px;
    border-radius: 5px;
}
.time-setting-container .time-board {
    width: auto;
    line-height: 26px;
    display: inline-block;
    vertical-align: middle;
}
.time-setting-container .time-board .hour, .time-setting-container .time-board .minute, .time-setting-container .time-board .halfday {
    width: 20px;
    height: 20px;
}
.time-setting-container .time-board input {
    font-size: 12px !important;
    padding: 0 !important;
    border: none !important;
    height: 26px !important;
}
.time-setting-container.disable input, .time-setting-container.disable div {
    color: #b3b3b3;
}
.time-setting-container.disable .up, .time-setting-container.disable .down {
    border-color: #b3b3b3 transparent;
}
.controller {
    display: inline-block;
    vertical-align: middle;
}
.controller .up, .controller .down {
    cursor: pointer;
    margin: 4px 2px;
    border: 4px solid #a7a9ac;
    border-color: #a7a9ac transparent;
}
.controller .up:hover, .controller .down:hover {
    border-color: #cccccc transparent;
}
.controller .up {
    border-width: 0 5px 6px 5px;
}
.controller .down {
    border-width: 6px 5px 0 5px;
}
#bedtimelimit-container {
    margin-top: 45px;
}
#bedtimelimit-container .checkbox {
    margin-right: 15px;
}
#workday-limit, #weekend-limit, #workday-bedtime-limit, #weekend-bedtime-limit {
    margin: 15px 0 35px;
    white-space: nowrap;
}
#workday-limit > label, #weekend-limit > label, #workday-bedtime-limit > label, #weekend-bedtime-limit > label {
    display: inline-block;
    width: 170px;
    white-space: normal;
    position: relative;
}
span.bedtime-label-tips {
    position: absolute;
    color: #a7a9ac;
    bottom: -18px;
    left: 0;
}
#workday-limit .checkbox, #weekend-limit .checkbox, #workday-bedtime-limit .checkbox, #weekend-bedtime-limit .checkbox {
    width: 80px;
}
#workday-limit span.time-setting-label, #weekend-limit span.time-setting-label, #workday-bedtime-limit span.time-setting-label, #weekend-bedtime-limit span.time-setting-label {
    display: inline-block;
    width: 60px;
    padding-right: 8px;
    text-align: right;
}
#add-filter-container div.input-container-label:after,
#workday-limit span.time-setting-label:after,
#weekend-limit span.time-setting-label:after,
#workday-bedtime-limit span.time-setting-label:after,
#weekend-bedtime-limit span.time-setting-label:after {
    display: inline-block;
    content: ":";
}
#workday-limit .visible-hide, #weekend-limit .visible-hide, #workday-bedtime-limit .visible-hide, #weekend-bedtime-limit .visible-hide {
    visibility: hidden;
}
#workday-limit, #weekend-limit {
    margin-top: 2px;
    margin-bottom: 0;
}
#workday-limit{
    margin-top: 15px;
}
div.label {
    font-size: 15px;
}
.checkbox-wrap {
    display: inline-block;
    cursor: pointer;
}
.checkbox-wrap .icon {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 8px;
    background: url("../img/parentControlIcons.1657161073674.png") -156px -318px;
}
.checkbox-wrap.checked .icon {
    background-position: -173px -318px;
}
.checkbox-wrap.checked:hover .icon {
    background-position: -190px -318px;
}
.checkbox-wrap.checked.disable .icon, .checkbox-wrap.checked.disable:hover .icon {
    background-position: -241px -318px;
}
.checkbox-wrap:hover .icon {
    background-position: -207px -318px;
}
.checkbox-wrap.disable, .checkbox-wrap.disable:hover {
    background-position: -224px -318px;
}
.checkbox-wrap:hover .text, .checkbox-wrap.checked .text {
    color: #4acbd6;
}
#editor-container .start, #editor-container .end {
    display: inline-block;
    margin-right: 10px !important;
}
.checkbox {
    display: inline-block;
    vertical-align: middle;
}
.input-container {
    display: inline-block;
    border: 1px solid #e6e6e6;
    padding: 1px 8px;
    border-radius: 5px;
    position: relative;
}
.input-container .user-icon {
    display: inline-block;
    vertical-align: top;
    width: 26px;
    height: 26px;
    background: url("../img/parentControlIcons.1657161073674.png") -171px -1px;
}
.input-container .input-tips {
    display: none;
    position: absolute;
    width: 300px;
    left: 0;
    top: 28px;
    padding: 5px 0;
    color: #c11c66;
    text-align: left;
}
.input-container.input-editing {
    border-color: #4acbd6;
}
.input-container.error {
    border-color: #c11c66;
    margin-bottom: 20px;
}
.input-container.error .input-tips {
    display: block;
    padding-left: 20px;
    padding-top: 3px;
    padding-bottom: 3px;
}
.input-container.error .input-tips:before {
    content:" ";
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    margin: 2px 4px 1px 0;
    background: url(../img/icons.1657161073674.png) transparent no-repeat -399px -1px;
}
.input-container #keyword-hint-container {
    display: none;
    position: absolute;
    top: 32px;
    left: 0;
    right: 0;
    text-align: left;
    background: #FFFFFF;
    border: 1px solid #cccccc;
    border-radius: 5px;
    box-shadow: 1px 1px 8px #898989;
    max-height: 240px;
    overflow-x: hidden;
    overflow-y: auto;
}
.input-container #keyword-hint-container.showing {
    display: block;
}
.input-container #keyword-hint-container .keyword-hint {
    height: 30px;
    line-height: 30px;
    padding-left: 14px;
    white-space: nowrap;
}
.input-container #keyword-hint-container .keyword-hint.unmatch {
    display: none;
}
.input-container #keyword-hint-container .keyword-hint:hover, .input-container #keyword-hint-container .keyword-hint.selected {
    background: #4acbd6;
    color: #FFFFFF;
}
.input-container .input-wrapper-container {
    display: inline-block;
    position: relative;
}
.input-container .input-wrapper-container input {
    font-size: 12px !important;
    padding: 0 !important;
    border: none !important;
    height: 26px !important;
    line-height: 26px;
    vertical-align: middle;
}
.input-container .input-wrapper-container .placeholder, .input-container .input-wrapper-container .showingText {
    display: none;
    text-align: left;
    width: 100%;
    line-height: 26px;
    top: 0;
    left: 0;
    cursor: text;
}
.input-container .input-wrapper-container .placeholder {
    position: absolute;
    color: #cccccc;
}
.input-container .input-wrapper-container .showingText {
    background: white;
    position: absolute;
}
.input-container .input-wrapper-container.input-empty .placeholder {
    display: block;
}
.input-container .input-wrapper-container.input-editing .placeholder, .input-container .input-wrapper-container.input-editing .showingText {
    display: none;
}
.rfloat {
    float: right;
}
.lfloat {
    float: left;
}
.info {
    margin: 32px 0;
}
.error {
    color: #c11c66;
}
p.page-title {
    font-size: 15px;
    margin-bottom: -19px;
}
/*special for SOHO*/
 #history-select div.combobox-container div.widget-wrap {
    border: transparent;
}
#history-select div.combobox-container div.combobox-wrap input.combobox-text {
    font-size: 20px;
    color: #4acbd6;
    padding-left: 0;
}
#history-select div.combobox-container div.widget-wrap a.combobox-switch span.icon {
    margin-top: 10px;
    background: url("../img/parentControlIcons.1657161073674.png") -225px -351px;
}
#children-list.editing div.grid-panel div.operation-container a.operation-btn.btn-add {
    cursor: default;
}
#children-list.editing div.grid-panel div.operation-container a.operation-btn.btn-add span.icon {
    background-position: -81px -21px;
}
#children-list.editing div.grid-panel div.operation-container a.operation-btn.btn-add span.text {
    color: #a7a9ac;
}
#pover-add-keyword div.button-container {
    text-align: center;
}
div#children-grid .grid-header-tr th, div#children-grid .grid-content-tr td, div#children-grid td.editor-container {
    border: none;
}
div#children-grid td.editor-container {
    border-top: 1px solid #cccccc;
}
div#children-grid .grid-content-tr td {
    border-top: 1px solid #cccccc;
}
div#children-grid .grid-header-container, div#children-grid .grid-content-container-outer {
    border-radius: 0;
    border-left: none;
    border-right: none;
}
/* ie border */
#children-grid div.grid-content-container-outer:before,
#children-grid div.grid-content-container-outer:after,
#children-grid th.grid-header-0:after,
#children-grid th.grid-header.lst:after,
#history-select .text-wrap-before,
#history-select .text-wrap-after {
    visibility: hidden;
}
div#children-grid div.editor-content-container {
    padding: 20px 0px;
}
/*special for SOHO*/
div#children-grid div.editor-buttons-container {
    margin-top: 46px;
    padding-right: 0;
}
 #history-select .select-container {
    display: inline-block;
}
table#history-collection {
    width: 100%;
}
table#history-collection td {
    padding: 0;
}
table#history-collection a {
    text-decoration: none;
}
#pover-container #history-table td, #pover-container #history-table tr {
    height: auto;
}
/*special for low classic*/
#add-filter-container div.button-container{
    position: relative;
    top: 1px;
    margin-left: 10px;
}
#filter-selected{
    width: auto;
}
#filter-selected label.filter-tab span.text{
    width: 145px;
    overflow:hidden;
    text-overflow: ellipsis; 
    white-space:nowrap;
}
#filter-selected label.filter-tab span.status-icon{
    width: 14px;
    height: 14px;
    background-position: -209px -377px; 
}
#filter-selected label.filter-tab span.status-icon:hover{
    background-position: -225px -377px; 
}
label.filter-tab{
    width: 193px;
    box-sizing:border-box;
    padding:0 15px;
    margin: 0 8px 14px 0;
    display: inline-block;
    line-height: 30px;
    border-radius: 15px;
    background-color: #F4F4F5;
    white-space:nowrap;
}
#add-filter-container div.input-container-label{
    width: 185px;
}
#keyword-tips{
    width: 150px;
}
div.grid-panel div.editor-buttons-container div.button-container.submit{
    margin: 0 6px;
}
div.button-container button.button-button:active{
    background-color: #4acbd6;
}
div.button-container button.button-button:focus{
    background-color: #4acbd6;
}
div.scale{
    cursor: pointer;
}
#children-list div.grid-panel div.operation-container div.gird-prompt-progressbar{
    padding: 0;
}
