/*IE8 hack*/
 .input-container, .time-setting-container {
    position: relative;
}
.input-container:before, .input-container:after, .time-setting-container:before, .time-setting-container:after {
    content:' ';
    position: absolute;
    width: 10px;
    background: url("../img/ie-border-radius.1657161073674.png") no-repeat -4px -37px;
    top: -1px;
    height: 31px;
}
.input-container:before, .time-setting-container:before {
    left: -1px;
}
.input-container:after, .time-setting-container:after {
    right: -1px;
    background-position: -14px -37px;
}
.time-setting-container:before {
    background-position: -4px -2px;
}
.time-setting-container:after {
    background-position: -14px -2px;
}
.input-container {
    position: relative;
}
.input-container .before, .input-container .after {
    content:' ';
    position: absolute;
    width: 10px;
    background: url("../img/ie-border-radius.1657161073674.png") #FFFFFF no-repeat -4px -2px;
    top: -1px;
    height: 31px;
}
.input-container .before {
    left: -1px;
}
.input-container .after {
    right: -1px;
    background-position: -14px -2px;
}
.input-container.input-editing .before {
    background-position: -4px -37px;
}
.input-container.input-editing .after {
    background-position: -14px -37px;
}
.input-container.error .before {
    background-position: -4px -107px;
}
.input-container.error .after {
    background-position: -14px -107px;
}
#pover-container div.border {
    position: absolute;
    height: 11px;
    width: 13px;
}
#pover-container div.position-top-left {
    background: url("../img/ie-06.1657161073674.png") no-repeat 0px -56px;
    top: -8px;
    left: -7px;
}
#pover-container div.position-top {
    background: url("../img/ie-01.1657161073674.png") no-repeat right bottom;
    width: auto;
    top: -9px;
    left: 6px;
    right: 5px;
}
#pover-container div.position-top-right {
    background: url("../img/ie-06.1657161073674.png") no-repeat 0px -38px;
    top: -9px;
    right: -8px;
}
#pover-container div.position-left {
    background: url("../img/ie-02.1657161073674.png") no-repeat left top;
    height: auto;
    top: 2px;
    bottom: 2px;
    left: -11px;
}
#pover-container div.position-right {
    background: url("../img/ie-02.1657161073674.png") no-repeat right top;
    height: auto;
    top: 2px;
    bottom: 2px;
    right: -11px;
}
#pover-container div.position-bottom-left {
    background: url("../img/ie-06.1657161073674.png") no-repeat 0px -76px;
    bottom: -8px;
    left: -7px;
}
#pover-container div.position-bottom {
    background: url("../img/ie-01.1657161073674.png") no-repeat center top;
    width: auto;
    bottom: -9px;
    left: 6px;
    right: 5px;
}
#pover-container div.position-bottom-right {
    background: url("../img/ie-06.1657161073674.png") no-repeat 0px -95px;
    bottom: -8px;
    right: -8px;
}
div.grid-content-container-outer, div.grid-content-container {
    overflow: hidden;
}
div.grid-content-container-outer table, div.grid-content-container table {
    overflow: hidden;
}
div#children-grid th.grid-header:after, div#children-grid div.grid-content-container-outer:after, div#children-grid div.grid-content-container-outer:before {
    background: none;
}
.time-board {
    height: 26px;
    line-height: 26px;
    overflow: hidden;
}
/*SOHO IE8 hack*/
 #history-select span.text-wrap-before, #history-select span.text-wrap-after {
    display: none;
}
/*BBA ie8 hack*/
 .input-wrapper-container span.corner-left, .input-wrapper-container span.corner-right, .time-setting-container span.corner-left, .time-setting-container span.corner-right {
    display: none !important;
}
.input-wrapper-container input.tp-input-text, .time-setting-container input.tp-input-text {
    line-height: 26px !important;
    height: 26px !important;
    border: 0px !important;
    font-size: 12px !important;
    vertical-align: middle;
}
.pure-table .corner-top-left, .pure-table .corner-top-right, .pure-table .corner-bot-left, .pure-table .corner-bot-right {
    display: none;
}

label.filter-tab{
    background: url("../img/parentControlIcons.1657161073674.png") no-repeat #FFFFFF -6px -383px !important;
}