@charset "utf-8";
/* CSS Document */


/***modified by yueshenghu***/
div.top-header div.top-control div.lan-select-container{
	 margin-left: 0; 
}
/****end****/

/* support-center */
.top-footer-wrap div#support-tips{
	width: 124px;
}

div#support-tips a#support-center{
    text-align: center;
    margin-left: 0;
}
/* support-center end */

/* parentControl */

#childname-container .input-container .input-wrapper-container.input-empty .placeholder,
#custom-filter-container .input-container .input-wrapper-container.input-empty .placeholder{
    white-space: nowrap;
    overflow: hidden;
}

/* parentControl end */