@charset "utf-8";
/* CSS Document */

/*顶层导航栏*/
div.top-header div.top-header-wrap h1{
	width: 190px;
}
div.top-header div.top-header-wrap div.top-nav ul li a.nav{
	max-width: 150px;
	max-width: 127px\9;
	word-break: break-all\9;
}

/*printer*/
input#printer_name{
	width: 300px;	
}

/*radio 过长*/
div.widget-container div.widget-fieldlabel-wrap.l + div.widget-wrap-outer{
    max-width: 452px;
}
div.widget-container div.widget-fieldlabel-wrap.m + div.widget-wrap-outer{
    max-width: 490px;
}
div.widget-container div.widget-fieldlabel-wrap.s + div.widget-wrap-outer{
    max-width: 520px;
}
div.widget-container div.widget-fieldlabel-wrap + div.widget-wrap-outer{
    max-width: 520px;
}

/*advanced status wired/wireless*/
label.label_status_s {
	display: inline-block;
	width: 97px;
	margin-left: 2px;
}


/*systemlog下拉框*/
label#lbl_type + div.combobox-container div.combobox-wrap input.combobox-text.xl {
	width: 220px;
	width: 230px\9;
}
input#level + div.combobox-wrap-outer input.combobox-text.m {
    width: 125px;
}

/*systemlog logat logevery对齐*/
div#mail_cnt div.radio-group-wrap ul li > div.widget-wrap{
	width: 155px;
}
div#mail_cnt div.radio-group-wrap ul li div.tips-content {
	width: 140px;
}
div#mail_cnt div.radio-group-wrap ul li div.radio-content-wrap {
	padding-left: 0px;
	margin-left: 0px;
}

/*duplex*/
input#internet_duplex + div.widget-fieldlabel-wrap + div.combobox-wrap-outer div.combobox-wrap input.combobox-text.l {
	width: 180px;
}
/***modified by yueshenghu***/
/*顶层图标文案两行*/
div.top-header div.top-control a.top-control-btn {
    word-break:break-all;
	max-width: 62px;
	width: 46px\9\0;
    height: 59px;
}
div.top-header div.top-control a.top-control-btn:hover {
    background: url(../../themes/green/img/ie.hover.1657161073674.png) no-repeat 0px -106px\9;
}
div.top-header div.top-control a#top-control-update.top-control-btn span#upgrade-hint{
    right: 14px;
    right: 5px\9\0;
}
div#upgrade-page.part-seperate button{
    width: 150px;
    height: 40px;
    background: url(../../themes/green/img/upgrade.1657161073674.png) no-repeat 0px 0px\9;
}
div#upgrade-page.part-seperate button:hover{
	background: url(../../themes/green/img/upgrade.1657161073674.png) no-repeat 0px -40px\9;
}
div#upgrade-page.part-seperate button{
    padding: 1px 6px 1px;
}
div#upgrade-page.part-seperate span.button-before, div#upgrade-page.part-seperate span.button-after{
	width: 0px\9;
}
div#upgrade-page.part-seperate .btn_cnt{
	padding-left: 0px\9;
}
/****end****/

div.top-header div.top-control a.top-control-btn#top-control-account #top-control-account-ctn{
    top: 72px;
}
div.top-header div.top-control a.top-control-btn#top-control-account #connect-area{
    top: 56px;
}

#speedTestResume-outer{
    top: 30px !important;
}div#support-tips{
	right: 76px;
}