@charset "utf-8";
/* CSS Document */
/*********add by yueshenghu **********/
/*advance status 页面*/
span#status_guest_title{
	display: inline-block;
	width: 92px;
}

/*quicksetup timesetting*/
div#quicksetup-language-setting div.combobox-container div.combobox-wrap input.combobox-text.xxxl{
	width: 405px;
}
/*system timesetting*/
div#auto_cnt div.combobox-container  div.combobox-wrap-outer div.combobox-wrap input.combobox-text.xxxxl{
	width:400px;	
}
/*************end*******************/

/*顶层图标文案三行*/
div.top-header div.top-control a.top-control-btn{
	word-break: break-all;
	height: 59px;
	padding-left: 0px\9\0;
	padding-right: 0px\9\0;
}
div.top-header div.top-control a.top-control-btn:hover {
	background: url(../../themes/green/img/ie.hover.1657161073674.png) no-repeat 0px -106px\9;
}
#childname-container input{
	width: 158px;
}