div#support-tips{
	width: 140px;
	right: 66px;
}
div.tips-content-container span.tips-content-delta.bottom{
	left: 67px;
}
div#lan2and3_note_cnt p, div#wan_Agg div.steps p{
	padding-left: 82px;
}
#speedTestResume-outer{
	top: 30px !important;
}