@charset "utf-8";
/* CSS Document */

html{
	font-family: Arial, Geneva, sans-serif;
}
input,button{
	font-family: Arial, Geneva, sans-serif;
	color: #4d4d4d;
}

/*顶层导航栏*/
div.top-header div.top-header-wrap h1{
	width: 190px;
}

/*顶层图标文案两行*/
div.top-header div.top-control a.top-control-btn {
	word-break: break-all;
	height: 59px;
	width: 46px;
}
div.top-header div.top-control a.top-control-btn:hover {
	background: url(../../themes/green/img/ie.hover.1657161073674.png) no-repeat 0px -106px\9;
}

/*printer*/
input#printer_name{
	width: 300px;	
}

/*radio 过长*/
div.widget-container div.widget-fieldlabel-wrap.l + div.widget-wrap-outer{
    max-width: 452px;
}
div.widget-container div.widget-fieldlabel-wrap.m + div.widget-wrap-outer{
    max-width: 490px;
}
div.widget-container div.widget-fieldlabel-wrap.s + div.widget-wrap-outer{
    max-width: 520px;
}
div.widget-container div.widget-fieldlabel-wrap + div.widget-wrap-outer{
    max-width: 520px;
}

/*advanced status wireless clients*/
div.access-wired-panel h4.status span#status_access_wired_title{
    display: inline-block;
    height: 31px;
    line-height: 31px;
    height: 29px\9;
    line-height: 29px\9;
}
div.access-wireless-panel h4.status span#status_access_wireless_title{
    display: inline-block;
    width: 80px;
}

/*advanced status wired/wireless*/
label.label_status_s {
	display: inline-block;
	width: 97px;
	margin-left: 2px;
}

/*parent control/qos下按钮太长导致IE下的换行*/
input#method_rd + div.widget-fieldlabel-wrap.s {
    width: 50px\9;
}

/*timesetting 下拉框*/
input#start_month + div.combobox-wrap-outer div.combobox-wrap input.combobox-text.xs{
	width: 52px;
}
input#end_month + div.combobox-wrap-outer div.combobox-wrap input.combobox-text.xs{
	width: 52px;
}
input#start_week + div.combobox-wrap-outer div.combobox-wrap input.combobox-text.xs{
	width: 50px;
}
input#end_week + div.combobox-wrap-outer div.combobox-wrap input.combobox-text.xs{
	width: 50px;
}

/*systemlog logat logevery对齐*/
div#mail_cnt div.radio-group-wrap ul li > div.widget-wrap{
	width: 155px;
}
div#mail_cnt div.radio-group-wrap ul li div.tips-content {
	width: 140px;
}
div#mail_cnt div.radio-group-wrap ul li div.radio-content-wrap {
	padding-left: 0px;
	margin-left: 0px;
}

div#iptv_cnt div.checkbox-group-container label.checkbox-label span.text{
	display: inline-block;
	width: 100px;
}

div.top-header div.top-control a.top-control-btn#top-control-account #top-control-account-ctn{
    top: 72px;
}
div.top-header div.top-control a.top-control-btn#top-control-account #connect-area{
    top: 56px;
}
div.cloud_hover_container.cloud_hover_login #cloud_account_wizard_tip div.tips-content-container span.tips-content-delta{
    right: 106px;
}
#basic-account-panel div.cloud_hover_container.cloud_hover_login div.cloud_account_wizard_tip_cnt{
    left: -260px;
}

#speedTestResume-outer{
    top: 30px !important;
}div#support-tips{
    right: 46px;
}