@charset "utf-8";
/* CSS Document */

/*顶层导航栏*/
div.top-header div.top-header-wrap h1{
	width: 190px;
}

/*顶层图标文案两行*/
div.top-header div.top-control a.top-control-btn {
	word-break: break-all;
	height: 59px;
}
div.top-header div.top-control a.top-control-btn:hover {
	background: url(../../themes/green/img/ie.hover.1657161073674.png) no-repeat 0px -106px\9;
}

/*printer*/
input#printer_name{
	width: 300px;	
}

/*radio 过长*/
div.widget-container div.widget-fieldlabel-wrap.l + div.widget-wrap-outer{
    max-width: 452px;
}
div.widget-container div.widget-fieldlabel-wrap.m + div.widget-wrap-outer{
    max-width: 490px;
}
div.widget-container div.widget-fieldlabel-wrap.s + div.widget-wrap-outer{
    max-width: 520px;
}
div.widget-container div.widget-fieldlabel-wrap + div.widget-wrap-outer{
    max-width: 520px;
}

/*advanced status wired/wireless*/
label.label_status_s {
	display: inline-block;
	width: 97px;
	margin-left: 2px;
}

/*systemlog logat logevery对齐*/
div#mail_cnt div.radio-group-wrap ul li > div.widget-wrap{
	width: 155px;
}
div#mail_cnt div.radio-group-wrap ul li div.tips-content {
	width: 140px;
}
div#mail_cnt div.radio-group-wrap ul li div.radio-content-wrap {
	padding-left: 0px;
	margin-left: 0px;
}

/***modified by yueshenghu***/
/*顶层图标文案三行*/
div.top-header div.top-control a.top-control-btn {
	word-break: break-all;
	width: 46px;
	padding-left: 0px\9\0;
	padding-right: 0px\9\0;
	width: 49px\9\0;
	height: 59px\9\0;
}
div.top-header div.top-control a.top-control-btn:hover {
	background: url(../../themes/green/img/ie.hover.1657161073674.png) no-repeat 0px -106px\9;
}
div.top-header div.top-control div.lan-select-container{
	margin-left: 0px;
	margin-left: 83px\9\0;
}
div.top-header div.top-control a#top-control-update.top-control-btn span#upgrade-hint{
	right: 7px;
	right: 9px\9\0;
}
/****end****/

#basic-account-panel div.cloud_hover_container div.cloud_account_wizard_tip_cnt{
	left: -163px;
}
#cloud_account_wizard_tip div.tips-content-container span.tips-content-delta{
	right: 203px;
}
div.top-header div.top-control a.top-control-btn#top-control-account #top-control-account-ctn{
	top: 72px;
}
div.top-header div.top-control a.top-control-btn#top-control-account #connect-area{
	top: 56px;
}div#support-tips{
	right: 66px;
}